html,
body,
section,
div {
  width: auto;
  margin: 0;
  padding: 0;
  position: relative;
  display: block;
}

#header,
#body,
#footer {
  position: relative;
  height: auto;
}


#fooer {
  display: none;
}

#body {
  font-family: sans-serif;
}

/* 1: menu */

.header-wrap {
  display: block;
  height: fit-content;
  width: 100%;
  font-family: dashicons;
}

.site-branding {
  width: 20%;
  text-align: center;
  height: 50px;
  padding: 15px 0;
}

.custom-logo {
  height: 50px;
  width: 129px;
  background-image: url("./stock/logo.jpg");
  background-size: contain;
  margin: 0 auto;
}

.menu-wrap {
  display: block;
  width: 80%;
  text-align: right;
  margin-top: 10px;
  margin-right: 5%;
  height: 80px;
}

ul.primary-menu,
ul.secondary-menu,
ul.tertiary-menu {
  list-style-type: none;
  margin-block-start: 0em;
  margin-block-end: 0em;
  padding-inline-start: 0px;
}

.primary-menu {
  width: 100%;
  display: inline;
  margin: 0;
}

li.primary-menu-item {
  display: inline-block;
  margin: 0;
  padding: 0;
}



@media only screen and (min-width: 801px) {

  .header-wrap {
    display: flex;
    width: 100%;
    height: 80px;
    font-family: dashicons;
  }

  li.primary-menu-item>a.mega-menu-link {
    margin: 0px 30px 0 0;
    line-height: 62px;
  }

  li.primary-menu-item:hover .secondary-menu {
    display: block !important;
  }

  li.primary-menu-item:hover .menu-service {
    display: flex !important;
  }

  a.mega-menu-link:hover {
    color: #00e2ff;
  }
}

.primary-menu-item>.sub-indicator:after {
  content: '\f347';
  margin-left: 5px;
  vertical-align: middle;
}

.secondary-menu {
  text-align: center;
  display: none;
  position: absolute;
  z-index: 99;
  width: 90px;
  margin-left: -10px;
  background-color: #ddd;
  transition: color 200ms linear;
}

li.secondary-menu-item>a.mega-menu-link {
  display: block;
  line-height: 20px;
  font-weight: 300;
  color: #333;
  margin: 5px;
  margin-bottom: 10px;
}

ul.menu-service {
  text-align: left;
  display: none;
  font-size: 12px;
  width: 600px;
  margin-left: -160px;
  padding: 10px 0px 20px 20px;
}

.menu-service>li.secondary-menu-item>a.mega-menu-link {
  font-weight: 500;
  font-size: 12px;
  line-height: 30px;
  margin: 0;
}

.tertiary-menu-item {
  padding-right: 20px;
}

.tertiary-menu-item>a.mega-menu-link {
  font-size: 10px;
  line-height: 20px;
}

a.mega-menu-link {
  color: #666;
  float: none;
  font-size: 14px;
  text-decoration: none;
  visibility: inherit;
  cursor: pointer;
  display: inline;
  transition: color 200ms linear;
}

#mobile-toggle-block {
  display: none;
}


.mobile-toggle-open:after {
  content: '\f153';
  font-family: 'dashicons';
  font-size: 30px;
  color: #4a4a4a;
  margin: 0 0 0 15px;
}


.mobile-toggle-close:after {
  content: '\f347';
  font-family: 'dashicons';
  font-size: 30px;
  color: #4a4a4a;
  margin: 0 0 0 15px;
}


@media only screen and (max-width: 800px) {

  .header-wrap {
    display: block;
    height: auto;
  }

  .site-branding {
    width: 100%;
  }

  .menu-wrap {
    margin-top: 0;
    width: 100%;
    text-align: left;
    height: auto;
  }

  .primary-menu {
    display: none;
  }

  li.primary-menu-item {
    display: block;
    background-color: #666;
  }

  .primary-menu-item {
    line-height: 50px;
    display: inline-block;
    border-bottom: 0.1px solid white;
  }

  .primary-menu-item>a.mega-menu-link {
    color: white;
    font-weight: 200;
    padding-left: 20px;
  }

  .secondary-menu,
  ul.menu-service {
    text-align: left;
    display: none;
    position: relative;
    z-index: 1;
    width: 100%;
    margin: 0;
    padding: 0;
  }


  .menu-service>li.secondary-menu-item {
    vertical-align: top;
    width: 40%;
    margin: 10px 0;
  }

  li.secondary-menu-item {
    padding-left: 25px;
    line-height: 20px;
    display: inline-block;
  }

  li.secondary-menu-item:not(.service-menu)>a.mega-menu-link {
    line-height: 30px;
    display: inline-block;
  }

  .tertiary-menu-item>a.mega-menu-link {
    line-height: 25px;
    font-size: 12px;
  }

  #mobile-toggle-block {
    display: block;
    text-align: center;
    padding-bottom: 10px;

  }


  a.sub-indicator:after {
    margin: 0 20px 0 0;
    float: right;
  }


}


/* 2: footer */

html,
body {
  display: block;
  width: 100%;
  margin: 0;
  font-family: sans-serif;
}

#row-1 {
  display: flex;
}

.elementor-column.elementor-col-50 {
  width: 50%
}

.row-1-1-bg {
  width: 66.666%;
  background-image: url("./stock/footer.jpg");
  background-position: top center;
  background-size: cover;
}

.row-1-1-gradient {
  display: block;
  background-image: linear-gradient(330deg, rgba(38, 70, 255, 0.5) 0%, rgba(107, 242, 255, 0.89) 100%);
  width: 100%;
  height: auto;
  padding: 15% 0;
}

.row-1-1-br {
  width: auto;
  display: flex;
  padding-left: 15%;
  padding-bottom: 10%;
}

.row-1-1-service-content {
  flex: auto;
  width: 50%;
  margin: 10px;
}

.row-1-1-service-content {
  color: #ffffff;
}


.row-1-1-service-title i {
  font-size: 30px;
}

.row-1-1-service-title p {
  font-size: 30px;
}

.row-1-1-service-title>p {
  font-size: 25px;
  letter-spacing: 2.4px;
  margin: 10px 0 0 30px;
}

.row-1-1-service-desc {
  margin: 0 0 0 30px;
}

.row-1-1-service-desc i,
li {
  color: rgba(255, 255, 255, 0.8);
  font-size: 16px;
  fill: rgba(255, 255, 255, 0.8);
}

.row-1-1-service-desc ul {
  list-style-type: none;
  display: inline;
}

.row-1-1-2 {
  transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
  padding: 0% 5% 0% 0%;
}

.row-1-1-2>.elementor-background-overlay {
  transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}

.row-1-2-1-info {
  margin: 0;
  color: #54595f;
  font-size: 20px;
  font-weight: 400;
  padding: 10% 20% 10% 20%;
}

.row-1-2-1-info img {
  width: 50%;
  height: auto;
}

.row-1-2-1-info h3 {
  font-size: 20px;
  padding: 20px 0;
}

.row-1-2-1-info p {
  padding-left: 20%;
  width: 60%;
  font-size: 16px;
}

.row-2 {
  background-color: rgba(0, 0, 0, 0.06);
  display: flex;
  transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
  text-align: center;
  opacity: 60%;
}

.row-2-1 {
  width: 66.666%;
  padding: 30px 0;
}

.row-2-2 {
  width: 33.333%;
  padding: 30px 0;
}

.row-1-2-qrcode {
  width: 33.333%;
  text-align: center;
  padding-top: 12%;
}

.img-qr-code {
  margin: 0 auto;
  width: 180px;
  height: 180px;
  background-image: url("./stock/qrcode.jpg");
  background-size: contain;
}

.row-1-2-1-social-icons {
  align-items: center;
  margin: 0 auto;
}

.social-icon {
  display: inline-block;
  border-radius: 50%;
  background-color: rgba(58, 68, 255, 0.73);
  font-size: 25px;
  margin: 5px;
  padding: 5px;
  width: 45px;
}

.social-icon i {
  color: white;
  width: auto;
  line-height: 45px;
}


.row-2-2 {
  background-color: transparent;
  background-image: linear-gradient(160deg, rgba(80, 0, 150, 0.53) 0%, rgba(110, 193, 228, 0.25) 100%);
  opacity: 0.5;
}


@media(max-width:800px) {

  #row-1 {
    display: block;
    margin: 0;
  }

  .row-1-1-bg {
    width: 100%;
  }

  .row-1-2-qrcode {
    width: 100%;
  }


  .row-1-1-service-title {
    font-size: 34px;
  }

  .row-2-1 {
    width: 100%;
    padding: 20px 0;
  }

  .row-2-2 {
    width: 100%;
    padding: 10px 0;
    font-size: 12px;
  }

  .row-1-1-br {
    padding-left: 8%;
  }


  .row-1-1-service-title>p {
    margin: 5px 0 0 0;
    font-size: 20px;
  }


  .row-1-1-service-desc li {
    font-size: 12px;
    line-height: 25px;
  }

  .row-1-1-service-desc {
    margin-left: 5px;
  }


  .row-1-1-2 {
    width: 50%;
  }

  .row-1-1-2 {
    padding: 0% 0% 16% 0%;
  }


  .row-2 {
    display: block;
  }

  .row-1-2-1-info img {
    width: 40%;
  }

}


/* 3: news */

.header-bg {

  height: 350px;
  background-image: url("./stock/5.1TB.jpeg");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  text-align: center;
  background-attachment: fixed;

  box-shadow: 0px 8px 8px rgba(0, 0, 0, 0.3);
  padding: 0em 0em 0em 0em;
  margin: 0;
}

.header-bg>.elementor-background-overlay {
  height: 100%;
  width: 100%;
  background-color: black;
  opacity: 0.5;
}

.header-title {
  color: #ffffff;
  font-family: "Montserrat Alternates", Sans-serif;
  font-size: 40px;
  font-weight: 400;
  line-height: 350px;
  letter-spacing: 10px;
  text-shadow: 0px 0px 6px rgba(0, 0, 0, 0.62);
  letter-spacing: 20px;
  margin: 0;
}

.news-content-wrap {
  padding: 10% 15%;
}

.pt-cv-ifield {
  padding-bottom: 80px;
}

.pt-cv-ifield>.pt-cv-title>a {
  text-decoration: none;
  color: #000000;
}

.pt-cv-content {
  font-size: 14px;
  line-height: 20px;
  margin-bottom: 10px;
}

.pt-cv-readmore {
  background-color: rgb(0, 136, 255);
  color: #ffffff;
  text-decoration: none;
  border-radius: 8px;
  padding: 6px 10px;
  font-size: 12px;
  line-height: 50px;
}

.pt-cv-meta-fields {
  color: gray;
  font-size: 12px;
  line-height: 0;
}

.header-bg-small {

  height: 250px;
  text-align: center;

  padding: 0em 0em 0em 0em;
  margin: 0;

  background-image: url("./stock/1.1TB.jpg");
  background-position: top left;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

.header-bg-small>.elementor-background-overlay {
  height: 100%;
  width: 100%;
  background-color: rgba(11, 28, 91, 0.64);
  opacity: 0.6;
}

.header-bg-small>.elementor-background-overlay>.elementor-header-title {

  color: #ffffff;

  font-family: "Montserrat Alternates", Sans-serif;
  font-size: 30px;
  font-weight: 300;
  line-height: 250px;
  letter-spacing: 10px;
  margin: 0;
}

.short-intro {
  padding: 60px 25%;
}

.short-intro>p {
  font-size: 16px;
  line-height: 50px;
}

.staff-box-wrapper {
  display: flex;
  width: auto;
  padding: 0 10% 10% 10%;
}

.staff-box {
  margin: 0 auto;
  border: solid 1px rgba(122, 122, 122, 0.29);
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  padding: 50px 20px;
  border-radius: 8px;
  width: 30%;
  min-width: 220px;
  max-width: 300px;
  height: auto;
  text-align: center;
}

.staff-box .elementor-header-title {
  font-size: 20px;
  font-weight: 400;
  line-height: 1.5em;
}

.staff-box-img {
  text-align: center;
  margin: 15px 0;
}

.staff-box-img {
  margin: 0 auto;
  width: 100px;
  height: 100px;
}

.staff-box-img .img {
  background-repeat: no-repeat;
  background-size: contain;
  width: 100px;
  height: 100px;
}

.staff-box-img-zp {
  background-image: url("./stock/周萍.jpg");
}

.staff-box-img-yw {
  background-image: url("./stock/IMG_6151.jpg");
}

.staff-box-name {
  text-align: center;
  color: #54595f;
  font-size: 14px;
  font-weight: 200;
  line-height: 2em;
  letter-spacing: 0px;
}

.staff-box-contact i {
  display: inline;
  color: rgba(142, 142, 142, 0.62);
  font-size: 14px;
  padding-right: 5px;
}

.staff-box-contact>ul.elementor-icon-list-items {
  display: block;
  list-style-type: none;
  width: 100%;
}

.staff-box-contact>ul.elementor-icon-list-items>.elementor-icon-list-item {
  display: block;
  color: rgba(0, 0, 0, 0.37);
  width: 16px;
  line-height: 30px;
  font-size: 14px;
  text-decoration: none;
  width: 100%;
  text-align: left;
}



@media(max-width:800px) {

  .header-bg {
    height: 250px;
    background-attachment: scroll;
  }

  .header-title {
    line-height: 250px;
    font-size: 24px;
  }

  .header-bg-small {
    background-attachment: scroll;
  }

  .news-content-wrap {
    padding: 60px 50px;
  }

  .pt-cv-content {
    font-size: 12px;
  }

  .pt-cv-ifield {
    padding-bottom: 20px;
  }

  .short-intro {
    padding: 60px 30px 0px 30px;
  }

  .staff-box-wrapper {
    display: block;
    padding: 10%;
  }

  .staff-box {
    margin: 0 auto;
    padding: 20px 0;
    width: 80%;
    margin-bottom: 50px;
  }

  .staff-box-img img {
    width: 100px;
    height: auto;
  }

}

/* 3.1 news sub page */
.section-tmp {
  padding: 100px 20%;
  font-weight: 300;
}

.section-tmp p {
  font-size: 14px;
  line-height: 25px;
  TEXT-JUSTIFY: inter-ideograph;
  TEXT-ALIGN: justify;
  TEXT-INDENT: 2em;
  color: #000;
  font-family: sans-serif;
}

@media(max-width:800px) {
  .section-tmp {
    padding: 80px 50px;
  }
}


.con_t>span.dhgao {
  margin-top: 53px;
}

.con_t span.hao1 {
  font-weight: bold;
}

.title1 {
  width: 100% !important;
  height: auto;
  line-height: 36px !important;
  font-size: 20px !important;
  margin-top: 18px !important;
  border-bottom: 1px solid #454545;
  font-weight: 600;
  padding-bottom: 10px;

}

.content {
  width: 100%;
  height: auto;
  background: #fff;
  margin: 0 auto;
  border: 1px solid #dedcd8;
}

.con1 {
  border: none !important;
}

.cont2 {
  border-bottom: none !important;
}

/* services */


.section-service-wrapper {
  display: flex;
  width: auto;
  padding: 100px 5%;
  font-weight: 300;
}

.section-service-left {
  background-color: rgba(226, 226, 226, 0.4);
  width: 25%;
  margin: 0;
  padding: 3em 2%;
}

.section-service-left>h3 {
  text-align: center;
  margin: 0;
  color: #7a7a7a;
  font-size: 22px;
  font-weight: 400;
  line-height: 1.5em;
  letter-spacing: 10px;
}

.section-service-left>ul>li {
  color: blue;
  line-height: 3em;
  font-weight: 100;
}

.section-service-center {
  width: 50%;
  text-align: left;
  color: #000000;
  padding: 3em;
}

.section-service-center>p {
  font-size: 16px;
  font-weight: 200;
  line-height: 2.5em;
  letter-spacing: 4.7px;
}

.section-service-center>h2 {
  font-weight: 300;
  text-align: center;
  margin: 0;
}

.section-service-right {
  width: 25%;
}

@media(max-width:800px) {
  .section-service-wrapper {
    display: block;
    padding: 0 0 20px 0;
  }

  .section-service-left {
    width: auto;
    margin: 0;
    padding: 30px 5em 20px 5em;
  }

  .section-service-left>ul>li {
    line-height: 2em;
  }

  .section-service-center {
    width: auto;
    margin: 0;
    padding: 3em 5em;
  }

  .section-service-right {
    width: 100%;
    margin: 0;
  }

}

.header-bg-gkk {
  background-image: url("./stock/2.5TB.jpeg");
  background-position: top center;
}

.header-bg-small-gkk {
  background-image: url("./stock/企业新闻.jpg");
}

.gkk-content-wrap {
  background-color: #eee;
}

.gkk-video-wrapper {
  width: 100%;
  background-color: white;
  display: flex;
  margin-bottom: 60px;
  border-radius: 15px;
}

.gkk-video-text {
  width: 65%;
  padding: 40px 50px;
}

.gkk-video-text>h3 {
  text-align: center;
}

.gkk-video-text>p {
  font-weight: 200;
  font-size: 14px;
  line-height: 30px;
}

.gkk-video-iframe {
  width: 35%;
  text-align: right;
  background-color: #454545;
}

.gkk-video-iframe>iframe {
  width: 100%;
  height: 100%;
}

.gkk-content-wrap>div>i {
  line-height: 60px;
  margin-right: 15px;
  color: grey;
}

.gkk-content-wrap>div>a {
  text-decoration: none;
  font-weight: 200;

}

@media(max-width: 800px) {
  .gkk-content-wrap-mobile {
    margin: 0;
    padding: 60px 15px 0 15px;
  }

  .gkk-video-wrapper {
    display: block;
  }

  .gkk-video-text {
    width: auto;
    padding: 40px 50px;
  }

  .gkk-video-iframe {
    width: 100%;
    height: 250px;
  }

}


.header-bg-pthz {
  background-image: url("./stock/平台合作.jpg");
}

.pthz-right {
  width: 66.666%;
}

.pthz-right>div {
  margin: 90px 15%;

  font-size: 16px;
  font-weight: 200;
  line-height: 2.5em;
  letter-spacing: 4.7px;

}


.pthz-left {
  width: 33.333%;
  background-image: linear-gradient(310deg, rgba(41, 178, 242, 0.47) 0%, rgba(216, 239, 255, 0.33) 100%);
}

.pthz-left>.staff-box {
  margin-top: 90px;
  background-color: rgba(255, 255, 255, 0.8);
}

.pthz-left>.staff-box>.staff-box-img>.img {
  background-image: url("./stock/诸成刚.png");
}



@media(max-width: 800px) {
  .pthz-right {
    width: 100%;
  }

  .pthz-right>div {
    width: auto;
    margin: 0;
    padding: 3em 5em;
  }


  .pthz-left {
    width: 100%;
    padding: 35px 0;
  }

}

.header-bg-rdzx {
  background-image: url("./stock/4.2TB.jpg");
  background-position: center center;
  background-attachment: scroll;
}

.rdzx-left {
  width: 33.333%;
  background-image: linear-gradient(310deg, rgba(125, 41, 242, 0.47) 0%, rgba(216, 239, 255, 0.33) 100%);
}

.rdzx-left>div {
  background-color: white;
  margin-top: 90px;
}

.staff-box>p {
  font-size: 13px;
  font-weight: 100;
  margin: 15px;
}



@media(max-width: 800px) {
  .rdzx-left {
    width: 100%;
    padding: 35px 0;
  }

  .staff-box>p {

    margin: 35px;
  }


}

.pt-cv-pagination-wrapper>ul {
  margin: 0;
  padding: 0;

}

.pt-cv-pagination li {
  display: inline !important;
  color: #000;
  padding: 6px 12px;
  line-height: 24px;
  border-radius: 4px;
  -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, .05);
  box-shadow: 0 1px 1px rgba(0, 0, 0, .05);
  border: 1px solid #ddd;
}


.pagination>li.active {
  position: relative;
  text-decoration: none;
  background-color: #337ab7;
  border: 1px solid #ddd;
  margin-left: -1px;
  color: white;
}

.pthz-right>h2 {
  text-align: center;
}

.pthz-right img {
  width: 100%;
}